<!-- luminous_clinic/templates/registration/password_reset_form.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'landing_page' %}" class="home-button">Home</a>
        </div>
    </header>
    <div class="login-container">
        <h1>Password Reset</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset Password</button>
        </form>
        <div class="links">
            <a href="{% url 'login' %}">Back to Login</a>
        </div>
    </div>
</body>
</html>