<!-- luminous_clinic/templates/registration/password_reset_email.html -->
{% autoescape off %}
Hello {{ user.get_full_name }},

You're receiving this email because you requested a password reset for your user account at Luminous Virtual Clinic.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

Thank you for using our site!

The Luminous Virtual Clinic team
{% endautoescape %}