{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Complete</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <a href="{% url 'landing_page' %}" class="home-button">Home</a>
        </div>
    </header>
    <div class="login-container">
        <h1>Password Reset Complete</h1>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <div class="links">
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</body>
</html>